<h1>Repertoires</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Size</th>
    <th></th>
  </tr>
  <% @repertoires.each do |repertoire| %>
  <tr>
    <td><%= link_to repertoire.name, repertoire_path(repertoire) %></td>
    <td><%= repertoire.white? ? 'white' : 'black' %></td>
    <td><%= repertoire.moves.size %> </td>
    <td><%= button_to 'Destroy', repertoire_path(repertoire), method: :delete %>
  </tr>
<% end %>

<%= link_to 'New', new_repertoire_path %>

<h2>New Repertoire</h2>

<%= form_for Repertoire.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :white %>
  <%= f.check_box :white %>
  <%= f.submit %>
<% end %>
