<h1>Repertoires</h1>

<table class="table">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Color</th>
    <th scope="col">Size</th>
    <th scope="col"></th>
  </tr>
  <% @repertoires.each do |repertoire| %>
    <tr>
      <th scope="row"><%= link_to repertoire.id, repertoire_path(repertoire) %></th>
      <td><%= link_to repertoire.name, repertoire_path(repertoire) %></td>
      <td><%= repertoire.color %></td>
      <td><%= repertoire.moves.size %> </td>
      <td>
        <%= button_to 'Destroy', repertoire_path(repertoire), method: :delete, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_repertoire_path(repertoire), class: 'btn btn-primary' %>
      </td>
    </tr>
  <% end %>
</table>

<h2>New Repertoire</h2>

<%= form_for Repertoire.new do |f| %>
  <div class="form-row">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="form-group">
      <%= f.label :white %>
      <%= f.check_box :white %>
    </div>
    <div class="form-group">
      <%= f.submit 'Create', class: "btn btn-primary"  %>
    </div>
  </div>
<% end %>
