Repertoire : <%= @repertoire.name %>

<div class="row">
  <div class="offset-2 col-8">
    <div id="chessboard" class="blue merida">a</div>
  </div>
</div>

<div class="row">
  <% @repertoire.main_hole.moves.each do |move| %>
  <div class="col-1">
    <%= form_for RepertoireMove.new, class: 'form-inline' do  |f| %>
      <%= f.hidden_field :move_id, value: move.id %>
      <%= f.hidden_field :repertoire_position_id, value: @repertoire.main_hole.id %>
      <%= f.button move.san %>
    <% end %>
    </div>
  <% end %>
  
</div>


<script type="module">

  import { Chessground } from 'chessground'
let board = document.getElementById('chessboard')

Chessground(board, {
fen: "<%= @repertoire.main_hole.fen %>"
})
</script>
