<%= @repertoire.name %>

<div class="row">
<% @repertoire.moves.each do |move| %>
  <div class="col-4 text-center">
    <div id="chessboard-<%= move.id %>" class="blue merida"></div>
    <br />
    <%= move.sheet_notation %>
    <%= link_to 'Edit', edit_repertoire_path(@repertoire, from: move.after) %>
  </div>
<% end %>
</div>

<script type="module">

import { Chessground } from 'chessground'

<% @repertoire.moves.each do |move| %>
  Chessground(document.getElementById('chessboard-<%= move.id %>'), {
    orientation: '<%= @repertoire.color %>',
    fen: '<%= move.before %>'
  });
<% end %>
</script>
