<h2>Repertoire : <%= @repertoire.name %></h2>

<div class="row text-center">
    <div id="chessboard" class="blue merida"></div>
</div>

<br />
<div class="text-center">
  <%= button_tag 'Add To Repertoire', id: 'submit', class: 'btn btn-primary' %>
  <%= button_tag 'Reset Board', id: 'reset', class: 'btn btn-primary' %>
</div>

<script type="module">

import { Chessground } from 'chessground'
import { Chess } from 'chess.js'

let game = new Chess();

var board = Chessground(document.getElementById('chessboard'), {
  orientation: '<%= @repertoire.color %>',
  movable: {
    events: {
      after: (orig, dest, metadata) => {
        try {
          game.move({from: orig, to: dest})
        } catch (error) {
          board.set({
            fen: game.fen()
          })
        }
      }
    }
  }
})

function resetBoard() {
  board.set({
    fen: 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1'
  })
  game.load('rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1')
}

function addLineToRepertoire() {
  const csrfToken = document.querySelector("[name='csrf-token']").content
  let history = game.history({verbose: true})
  board.set({
    fen: 'rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1'
  })
  game.load('rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1')

  fetch('/repertoires/<%= @repertoire.id %>', { method: 'PUT',
  body: JSON.stringify({ "line": history }),
  headers: {
    "X-CSRF-Token": csrfToken, 
    "Content-type": "application/json"
    }
  }).then((response) => console.log(response))
}

document.getElementById('submit').addEventListener('click', addLineToRepertoire)
document.getElementById('reset').addEventListener('click', resetBoard)
</script>
