<%= form_with(model: game_training, html: { id: 'game-training-form' }) do |form| %>
  <% if game_training.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game_training.errors.count, "error") %> prohibited this game_training from being saved:</h2>

      <ul>
        <% game_training.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pgn, 'PGN', style: "display: block" %>
    <%= form.text_area :pgn %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script type="module">
  import { Chess } from 'chess.js'

  document.getElementById('game-training-form').addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent the default form submission

  const form = event.target;
  const formData = new FormData(form);
  
  var game = new Chess()
  game.loadPgn(formData.get('game_training[pgn]'))
  
  var headers = game.getHeaders()
  formData.append('game_training[white]', headers['White'])
  formData.append('game_training[black]', headers['Black'])
  formData.append('game_training[result]', headers['Result'])
  
  formData.append('game_training[moves]', JSON.stringify(game.history({ verbose: true})));

  fetch('/game_trainings', {
    method: 'POST',
    body: formData
  })
  .then(response => response.json())
  .then(data => {
    console.log('Success:', data);
  })
  .catch(error => {
    console.error('Error:', error);
  });
});
</script>
