<p style="color: green"><%= notice %></p>

<%= render @game_training %>

<div>
  <%= link_to "Edit this game training", edit_game_training_path(@game_training) %> |
  <%= link_to "Back to game trainings", game_trainings_path %>

  <%= button_to "Destroy this game training", @game_training, method: :delete %>
</div>
